.h4 {
    margin: 0;
}
.text {
    margin-top: 3px;
    margin-left: 30px;
}
.old {
    margin-top: 3px;
    margin-left: 30px;
}
.new {
    margin-top: 3px;
    margin-left: 30px;
    text-decoration: line-through;
}
.container {
    box-sizing: border-box;
} 
.section-title {
    position: relative;
    font-weight: 400;
    margin-bottom: 20px;
}

.section-title::after {
    content: "";
    display: block;
    width: 320px;       
    height: 1px;
    background: #000;
    margin-top: 10px;
}
.title {
    border-bottom: 2px solid black;
}
.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    padding: 0;
}

.menu li {
    cursor: pointer;
    color: #777;
    font-size: 14px;
    padding-bottom: 5px;
}

.menu li.active {
    color: black;
    border-bottom: 2px solid black;
}
.slide {
    color: black;
    border-top: 2px solid black;
}
.left, .right {
    display: flex;
    width: 50%;
    gap: 10px;  
}
.left1, .left2 {
    width: 50%;
}
.container2 {
    color: black;
    border-top: 2px solid black;
    display: flex;
    box-sizing: border-box;
}
.photo1 {
    margin-left: 30px;
    margin-top: 20px;
    height: 500px;
    width: 300px;
}
.photo2 {
    /* height: 660px;
    width: 500px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}   
.price {
    min-height: 40px;   /* giữ chỗ cho 2 giá */
}
.button {
    min-height: 40px;
    margin-left: 250px;
    height: 38px;
    background: rgb(240, 79, 79);
    color: white;
    border: none;
    border-radius: 6px;
}
.button--large {
    height: 38px;
    background: rgb(240, 79, 79);
    color: white;
    border: none;
    border-radius: 6px;
}
.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner {
    position: relative;
    width: 100%;
    height: 100%;
}
.banner img {
    width: 100%;
    display: block;
}
.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
