header {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    padding: 6px 20px;
    margin: 0 10px;
    background: white;
    color: red;
}
main {
    padding: 100px 40px;
}
.card {
    display: flex;
    height: 400px;
    width: 300px;
    border: 1px solid rgb(82, 77, 77);
    flex-direction: column;
    border-radius: 6px;
}
.image {
    flex: 6;
    padding: 10px;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.content {
    flex: 4;
    padding: 0px 10px;
}
.content h3 {
    margin: 0;
    font-size: 17px;
}
.content button {
    background: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-left: 40px;
}
.card-list {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}