.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
    height: 200px;
    width: 400px;
    background: #bfbfbf;
    padding: 30px;
    position: relative; 
}
.title {
  margin-top: 0px;
  text-align: center;
  color: #2c63c9;
  margin-bottom: 10px;
}

.text {
  display: flex;
  color: rgb(15, 1, 1);
  margin: 0;
  margin-bottom: 15px;
}

label {
    font-size: 16px;
    width: 80px;
}

.actions {
    text-align: center;
}
button {
    padding: 6px 20px;
    margin: 0 10px;
}
select {
    color: red;
}